.featured 
    .featured-header
        h4.featured-header-title Featured Plants
        select.featured-header-select(name="")
            option(value="Cheaper First" selected) Cheaper First
            option(value="Value-2") Value-2
            option(value="Value-3") Value-3
    // Link featured-cards
    include ./featured-cards/featured-cards.pug
    // End featured-cards
    
    