.first-column-footer
    h3.title-footer PLANTKU
    h6.title-footer-of-text Plantku House
    span.text-footer-first-column Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282