.advantages
    .advantage-box 
        .header-advantage-box
            img(src="../../../../../images/Main/Advantages/1-box.svg", alt="").icon-advantage-box
            span.title-advantage-box Fast#[br]Delivery
        .text-advantage-box Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
    .advantage-box 
        .header-advantage-box
            img(src="../../../../../images/Main/Advantages/2-box.svg", alt="")
            span.title-advantage-box Great Customer#[br]Service
        .text-advantage-box Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
    .advantage-box 
        .header-advantage-box
            img(src="../../../../../images/Main/Advantages/3-box.svg", alt="")
            span.title-advantage-box Original#[br]Plants
        .text-advantage-box Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
    .advantage-box 
        .header-advantage-box
            img(src="../../../../../images/Main/Advantages/4-box.svg", alt="")
            span.title-advantage-box Affordable#[br]Price
        .text-advantage-box Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
