.fourth-column-footer
    h6.title-of-fourth-column Berlangganan Email Kami
    input(type="text" placeholder="Masukan Alamat Email").input-fourth-column-footer
    button(type="submit" title="Submit").button-fourth-column-footer Submit