.header-container
    .header
        .header-icon P
        .header__right_menu 
            img(src="../../images/Header/search.svg", alt="search").icon-search
            img(src="../../images/Header/shopping-cart.svg", alt="backet").icon-shopping-cart
            button.header-button.header-button--sign_up Sign Up
            button.header-button.header-button--sign_in Sign In