footer.footer-container
    .footer 
        include ./first-column-footer/first-column-footer.pug
        include ./second-column-footer/second-column-footer.pug
        include ./third-column-footer/third-column-footer.pug
        include ./fourth-column-footer/fourth-column-footer.pug