.container
    // Link advantages
    include ./advantages/advantages.pug
    // End link advantages
    
    // Link featured
    include ./featured/featured.pug
    // End featured

    // Link description
    include ./description/description.pug
    // End description

    // Link visit-shop
    include ./visit-shop/visit-shop.pug
    // End link visit-shop
