.main-content 
    .main-content-left
    .main-content-right
        .main-content-text
            h1.main-content_first-title Kembang Flower Mantap
            p.main-content_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        .main-content-button
            button.previus-next__button
                .title__button__elements 
                    img(src="../../images/Main/arrow_left.svg", alt="").title__img
                    p.title__button.ml_14_button Previous
                p.title__plant Kaktus Plant
            button.previus-next__button
                .title__button__elements 
                    p.title__button.mr_14_button Next
                    img(src="../../images/Main/arrow_left.svg", alt="").title__img.rotate_img
                p.title__plant Rahasia Plant