doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plant Shop
        include ./blocks/link/link.pug
    body
        // Link header
        include ./blocks/components/header/header.pug
        // End header

        // Link main
        include ./blocks/components/main/main.pug