.featured-cards
    .featured-card-box
        .img-card-box.box-1
        span.title-card-box Kaktus Plants
        span.price-card-box IDR 85.000
    .featured-card-box
        .img-card-box.box-2
        span.title-card-box Landak Plants
        span.price-card-box IDR 105.000
    .featured-card-box
        .img-card-box.box-3
        span.title-card-box Kecubung Plants
        span.price-card-box IDR 85.000
    .featured-card-box
        .img-card-box.box-4
        span.title-card-box Kecubung Plants
        span.price-card-box IDR 85.000
    .featured-card-box
        .img-card-box.box-5
        span.title-card-box Kecubung Plants
        span.price-card-box IDR 85.000
